// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// commons
// containers
.container-fluid{
    width: 100%;


}

.container{
    width: 60%;
    margin: 0 auto;

}

// flex
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}
// position
.relative{
    position: relative;
}

// list

ul{
    li{
        list-style: none;
    }
}

// link

a{
    text-decoration: none;

    // reset
    color: black;
}

// img

img{
    max-width: 100%;
}

// margin

.mt{
    margin-top: 10rem;
}

.text-colored{
    color: #20AD96;
}


// commo
.small{
    font-size: 1rem;
}