@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}

// commons
// containers
.container-fluid{
    width: 100%;


}

.container{
    width: 60%;
    margin: 0 auto;

}

// flex
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}
// position
.relative{
    position: relative;
}

// list

ul{
    li{
        padding-top: 1rem;
        list-style: none;
        padding-right: 2rem;
        i{
            padding-left: 0.5rem;
        }
    }
}

// link

a{
    text-decoration: none;
}

// h

h2{
    font-size: 3rem;
    padding: 1rem 0;
    
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5;
}
// img

img{
    max-width: 100%;
}

// margin

.mt{
    margin-top: 10rem;
}

// padding
.pt{
    padding-top: 5rem;
}
.text-colored{
    color: #20AD96;
}
.text-purple{
    color:#48436B;
}
.text-grey{
    color: grey;
}
.text-darkgrey{
    color: #6F6F6F;
}
.text-black{
    color: black;
}
// commo
.small{
    font-size: 1rem;
}

.mini-text{
    font-size: 1rem;
}

.thini-text{
    font-weight: 300;
   
}
// button

button{
    background-color: #20AD96;
    color: white;
    border: 1px solid #20AD96;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    a{
        color: white;
    }
    &:hover{
        background-color: #6e00ff;
    }
}

// active and hidden
.active{
    display: block;
}

.hidden{
    display: none;
}
// opaciti
.opacity{
    opacity: 0;
}
